@model IEnumerable<CRUD_WEB.Models.Tasks>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Nova tarefa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.concluida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.concluida)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.id">Listar</a> |
                        <a asp-action="Delete" asp-route-id="@item.id">Remover</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
